<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Airbnb-like View</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>

  </header>

  <section class="hero">
    <h1>Find your perfect stay</h1>
    <p>Explore unique homes around the world.</p>
    <form action="#">
      <input type="text" placeholder="Search...">
      <button type="submit">Search</button>
    </form>
  </section>

  <section class="listings">
  <h2>Featured Listings</h2>
  <div class="listing-gallery">
   <% @flats.each do |flat|%>
    <%= link_to flat_path(flat), class: "listing-card" do %>
   <div class="listing-card">
      <img src="https://via.placeholder.com/150" alt="flat.property_name">
      <div class="listing-details">
        <h3><%=flat.property_name%></h3>
        <p><%= flat.property_type%> <%= flat.max_guests%> <%= flat.bedrooms%> <%=flat.bathrooms%> </p>
        <span><%flat.price_per_night%> </span>
      </div>
    </div>
    <% end %>
    <% end %>

    <!-- Repeat for additional listing cards -->
  </div>
</section>

  <footer>
    <p>&copy; 2024 Airbnb-like View. All rights reserved.</p>
  </footer>
</body>
</html>
