<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Airbnb-like View</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>

  </header>

  <section class="hero">
    <h1>Find your perfect stay</h1>
    <p>Explore unique homes around the world.</p>
    <form action="#">
      <input type="text" placeholder="Search...">
      <button type="submit">Search</button>
    </form>
  </section>

  <section class="listings">
    <h2>Featured Listings</h2>
    <div class="listing-gallery">
      <% @flats.each do |flat| %>
        <div class="listing-card">
        <%= link_to flat_path(flat), class: "listing-card" do %>
          <%= image_tag("flat1.webp", alt: "Listing Image") %> <!-- Replace "placeholder.jpg" with the actual image path -->
          <div class="listing-details">
            <h3><%= flat.property_name %></h3> <!-- Assuming 'name' is an attribute of the Flat model -->
            <p><%= flat.description %></p> <!-- Assuming 'description' is an attribute of the Flat model -->
            <!-- Add more details as needed -->
            <span>$<%= flat.price_per_night %>/night</span> <!-- Assuming 'price' is an attribute of the Flat model -->
          </div>
        </div>
      <% end %>
      <% end %>
    </div>
  </section>

  <footer>
    <p>&copy; 2024 Airbnb-like View. All rights reserved.</p>
  </footer>
</body>
</html>
